/* RESET --------------------------------------------------------------------------------------------------------------------- */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#000000;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	max-width:100%;
}

/*IDENTITY -------------------------------------------------------------------------------------------------------------------*/
#page {
	margin:auto;
}

#header {
	width:100%;
	text-align:center;
	background-color:#dddddd;
	display:inline-block;
}

#logo_bar {
	background-color:#000000;
}

#vcu_logo_mobile {
	display:none;
}

#identity_search {
	width:65%;
	margin:auto;
}

#matr_logo {
	float: left;
	width: 60%;
	min-width: 200px;
}

#matr_logo a, #matr_logo a:link, #matr_logo a:visited, #matr_logo a:hover, #matr_logo a:active {
	text-decoration:none;
}

/* Search -------------------------------------------------------------------------------------------------------------------- */
#search {
	z-index:15;
	width:35%;
	float:right;
	padding-top:2em;
}

#search input[type=text] {
	border: 2px solid #ccc;
	padding: .4em;
	width:80%;
	vertical-align:middle;
}

button.search_btn {
	background-image:url(../images/go.gif);
	background-size: 25px 25px;
	background-repeat:no-repeat;
	border:none;
	width:25px;
	height:25px;
	cursor:pointer;
	vertical-align:middle;
}

#search label {
	display:none;
}

#search_box {
	vertical-align:bottom;
}

#register_btn {
	width:35%;
	float:right;
	margin-bottom:1em;
	text-align:center;
	font-size:1.55em;
	display:block;
	font-weight:bold;
	margin-top:1em;
}

#register_btn a, #register_btn a:visited {
	font:Georgia, "Times New Roman", Times, serif;
	color:#494949;
	display:block;
	width:94%;
	background-color:#fff;
	border:3px solid #f8b800;
	text-decoration:none;
	padding:1.25em .25em 1.25em .25em;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	float:left;
}

#register_btn a:hover {
	color:#fff;
	text-decoration:none;
	background-color:#f8b800;
	border:3px solid #fff;
}
	
/* Top Navigation ------------------------------------------------------------------------------------------------------------ */
#top_nav_container {
	width:100%;
	display:inline-block;
	background-color:#f8b800;
}

/* Main menu settings */
#top_nav {
	margin:auto;
}

/* Top menu items */
#top_nav ul {
	margin:0;
	list-style:none;
	margin:auto;
	display:inline-block;
	margin-bottom:-3px;
}
#top_nav ul li {
	float:left;
	position:relative;
}

#top_nav ul li a {
	display:block;
	padding:1em 1em 1em 1em;
	font-size:1.5em;
	text-decoration:none;
	font-weight:bold;
	color:#494949;
	border:none;
	text-align:left;
}

#top_nav ul li a:hover {
	color:#fff;
}

#top_nav ul li:hover a,
#top_nav ul li.hover a { /* This line is required for IE 6 and below */
	color:#fff;
}

/* Submenu items */
#top_nav ul ul {
	display:none; /* Sub menus are hidden by default */
	position:absolute;
	top:4.45em;
	left:0;
	float:left;
	border:1.5px solid #999;
	z-index:1000; /* This makes the dropdown menus appear above the page content below */
}

#top_nav ul ul li {
	margin:0; /* Reset the 1px margin from the top menu */
	float:left;
}

#top_nav ul ul li a,
#top_nav ul li.active li a,
#top_nav ul li:hover ul li a,
#top_nav ul li.hover ul li a { /* This line is required for IE 6 and below */
	color:#494949;
	font-size:1em;
	font-weight:normal; /* resets the bold set for the top level menu items */
	background-color:#f6f6f6;
	line-height:1.4em; /* overwrite line-height value from top menu */
	border-bottom:1px dotted #999; /* sub menu item horizontal lines */
	float:left;
	text-align:left;
	width:170px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

#top_nav ul ul li a:hover,
#top_nav ul li.active ul li a:hover,
#top_nav ul li:hover ul li a:hover,
#top_nav ul li.hover ul li a:hover { /* This line is required for IE 6 and below */
	background:#f9fbb9; /* Sub menu items background color */
	color:#000;
	float:left;
}

/*flip the submenu of the last list to stay inside the page*/
#top_nav ul ul.last {
	left:auto;
	right:0;
}

#top_nav ul ul.last li {
	float:right;
}

/* Make the sub menus appear on hover */
#top_nav ul li:hover ul,
#top_nav ul li.hover ul { /* This line is required for IE 6 and below */
	display:block; /* Show the sub menus */
}
		
/* Body ---------------------------------------------------------------------------------------------------------------------- */
body {
	background-color:#e7e7e7;
	height:100%;
	font-size: .75em; /*12px / 16px */
	font-family: Georgia, "Times New Roman", Times, serif;
	color:#000000;
}

/* Layout -------------------------------------------------------------------------------------------------------------------- */

#main {
	width:90%;
	margin:auto;
	background: #fff;
}

#content {
	width:100%;
	margin-top:3%;
	padding-bottom:3em;
	min-width:250px;
}

#content_text {
	width:69%;
	padding-left:3.5%;
	padding-right:1%;
	padding-bottom:2em;
	float:left;
	font-size:1.2em;
}

#right_nav {
	width:25%;
	min-width:175px;
	float:right;
	border-left:#e7e7e7 solid 1px;
	padding-bottom:.5em;
}

#right_nav ul {
	list-style:none;
	margin-left:0;
	text-align:center;
	margin-top:1em;
}

.right_nav_btn {
	background-color:#f8b800;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border-radius: 7px;
	margin:1em;
}

#right_nav ul li {
	font-size:1.55em;
}

#right_nav ul li a {
	padding:4% 2% 4% 2%;
	display:inline-block;
	width:96%;
}

#right_nav a:link, #right_nav a:visited {
	text-decoration:none;
	color:#494949;
}

#right_nav ul a:hover, #right_nav ul a:focus, #right_nav ul a:active {
	background-color:#494949;
	color:#fff;
	-webkit-border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	border-radius: 7px;
}

#head_image {
	float:right;
	width:100%;
	margin:-1em 0 0 0;
	padding-bottom:1em;
}

.social_media {
	margin:auto;
	width:100%;
	text-align:center;
}

.social_media img {
	margin:auto;
}

#right_nav p {
	font-size:1.75em;
	font-weight:bold;
	text-align:center;
	padding:1em;
	color:#494949;
}

/* Footer navigation and signature links ------------------------------------------------------------------------------- */
#signature {
	clear: both;
	width: 100%;
	margin:auto;
	padding:0;
	font-size:1em;
	line-height: 1.6em;
	padding-bottom:2em;
	padding-top:2em;
	background-color:#e7e7e7;
	}
	
#signature ul {
	list-style:none; 
	margin:auto; 
	padding:1em 0 1em 0; 
	text-align:center; 
}

#signature ul li {
	color:#333;
}

#vcu_footer {
	display:none;
	background-color:#000;
	width:100%;
	padding-top:.25em;
	padding-bottom:.25em;
}

#vcu_footer img {
	display:block;
	margin:auto;
}

/*Headings--------------------------------------------------------------------------------------------------------------------*/
h1 {
	font-size:1.5em;
	margin-top:1.5em;
	margin-bottom:1.5em;
	background-color:#f9fbb9;
	margin-left:-4em;
	padding:.75em .5em .75em 4em;
	text-transform:uppercase;
}

h2{ /*same as style1*/
	color:#000000;
	font-size:1.25em; /*20px/12px*/
	font-weight:normal;
	margin-top:.75em;
	margin-bottom:.25em; /*6px/12px*/
	text-transform:uppercase;
	border-bottom:#f8b800 solid 1px;
}
	
h3 {
	font-size:1.1em;
	font-weight:bold;
}

/* Links --------------------------------------------------------------------------------------------------------------------- */
a:link,a:visited {
	padding-bottom:.1em;
	color:#132e93;
	border-bottom:0;
	}
	
a:hover {
	padding-bottom:0em;
	color:#3f2d0c;
	}
	
a:active,a:focus {
	padding-bottom:.1em;
	color:#1d68a0;
	text-decoration:none;
	border-bottom:1px solid #dbd8c2;
	}
	
a.imglink {
	border:0;
	background:none;
	text-decoration:none;
	}
	
/* Type ---------------------------------------------------------------------------------------------------------------------- */
p, li {
	table-layout:fixed;
	margin-top:0;
	margin-bottom:1em;
	line-height:1.5em;
	font-size: 1em;
	}

.no_margin {
	margin-bottom: 0px;
}

.list_no_bullets {
	list-style-type:none;
}

.bottom_margin, dd {
	margin-bottom:1em;
}

.top_margin {
	margin-top:3em;
	margin-bottom:0;
}

.indent {
	margin-left:1em;
}

/*Forms*/
#form_buttons {
		text-align:center;
	}

input[type=text], input[type=email], textarea {
	border:#cccccc solid 2px;
	padding:.4em;
	max-width:200px;
	}
	
input:focus, textarea:focus {
	border-color: #f8b800;
}
	
#form_buttons button {
	border: #A2A2A2 solid 2px;
	cursor:pointer;
	padding:.75em;
}

.form {
	width:75%;
	margin:auto;
	min-width:220px;
}

.form label, .form input {
	display:block;
}

.form_inline input, .form_inline label {
	display:inline-block;
}
		
/* Lists */
ul{margin:0 0 1.5em 1.5em; padding-top:0;}
ol{margin:2.0em 0 2.0em 2.0em;}
li{margin:0em 0 0em 0em;}

.note_to_client {color:#ff0000;} /*red text*/

/* Tables ------------------------------------------------------------------------------------------------------------ */
table {
	border-collapse: collapse;
	margin: 0 0 1.66666667em 0; /*20px/12px*/
	}
		
th {
	font-size: 1em; 
	color: #000; 
	text-align: left;
	padding: .5em;
	background: #FFF;
	vertical-align:text-top;
	}
	
.no_emphasis { /*use when th is to look exactly like td*/
	font-size: 1em; 
	text-align: left;
	font-weight:normal;
	}
	
td {
	padding: .5em; 
	font-size: 1em; 
	line-height: 1.4em; 
	vertical-align: text-top;
	}
	
table td.col-1 {
	width:50%;
	}
table td.col-2 {
	width:50%;
	}
	/* alternate bg color on table rows */
tr {
	background: #fff; 
	}
	
tr.alt, tr.cal_head {
	background: #FFF; 
	color: #333;
	}
	
#cse-search-results {width:100%;}
#skip_link {float:right;font-size:0.75em;z-index:1000;}
#skip_link a {color:#dddddd;}
#skip_link a:hover, #skip_link a:focus {color:#ffffff;text-decoration:none;}