
/*---------------Media Queries-----------------*/
@media screen and (max-width:1044px) {
	#identity_search {
		width:85%;
	}
	
	#search, #register_btn {
		float:left;
		margin-left:2%;
	}
	
	.right_nav_btn {
		margin:.5em;
	}
	
	#head_image {
		margin:-.5em 0 0 0;
	}
}

@media screen and (max-width:980px) {
	#vcu_logo_vcu {
		width:84%;
	}
	
	#vcu_logo_real {
		width:15%;
	}
}

@media screen and (max-width:865px) {
	#search {
		padding-top:1.5em;
	}
	
	#search input[type=text] {
		width:78%;
	}
}

@media screen and (max-width:824px) {
	#matr_logo {
		padding-top:1em;
	}
}

@media screen and (max-width:767px) {
	#vcu_logo_desktop {
		display:none;
	}
	
	#vcu_logo_mobile {
		display:block;
		margin:auto;
	}
	
	#vcu_footer {
		display:block;
	}
	
	#content_text {
		width:92.5%;
		display:block;
		float:none;
		margin:auto;
		padding-left:2%;
		padding-right:2%;
	}
	
	h1 {
		width:105%;
		margin-bottom:1em;
		margin-top:1em;
	}
	
	#right_nav {
		width:90%;
		float:none;
		margin:auto;
		border-top:1px solid #e7e7e7;
		border-left:0;
	}
	
	#right_nav_top {
		float:left;
		width:50%;
	}
	
	#head_image {
		width:100%;
		float:left;
		margin-top:-1em;
	}
	
	#right_nav ul {
		width:50%;
		float:right;
	}
}

@media screen and (max-width:730px) {
	
	#identity_search {
		width:100%;
	}
	
	#matr_logo {
		padding-top:.5em;
		padding-left:2.5em;
	}
	
	#search {
		width:30%;
	}
	
	#search input[type=text] {
		width:77%;
	}
	
	#register_btn {
		width:30%;
	}
	
	#top_nav ul li a {
		font-size:1.2em;
	}
	
	#top_nav ul ul {
		top:3.9em;
	}
}

@media screen and (max-width:680px) {
	#matr_logo {
		margin-top:1em;
	}
}

@media screen and (max-width:605px) {
	#matr_logo {
		margin-top:0;
		width:70%;
		margin:auto;
		float:none;
	}
	
	#search {
		width:70%;
		float:none;
		margin:auto;
		padding-top:0;
		padding-bottom:1em;
	}
	
	#register_btn {
		width:50%;
		float:none;
		margin:auto;
		margin-bottom:1em;
	}
	
	#register_btn a {
		margin-bottom:1em;
	}
	
	#top_nav ul ul {
		top:3.7em;
	}
	
	#right_nav_top {
		float:none;
		width:100%;
	}
	
	#right_nav ul {
		width:100%;
		float:none;
	}
	
	#content {
		padding-bottom:.5em;
	}
}

@media screen and (max-width:585px) {
	
	#top_nav ul li a {
		font-size:1.1em;
	}
	
	#top_nav ul ul li a,
	#top_nav ul li.active li a,
	#top_nav ul li:hover ul li a,
	#top_nav ul li.hover ul li a { /* This line is required for IE 6 and below */
		width:118px;
	}
}

@media screen and (max-width:544px) {
	
	#top_nav {
		float:none;
		width:145px;
		margin-left:0;
	}

	#top_nav ul li a {
		display:block;
		width:145px;
		font-size:1.1em;
	}

	#top_nav ul ul, #top_nav ul ul.last {
		top:-1.25em;
		left:11.75em;
		float:none;
		border:none;
	}
	
	#top_nav ul ul li a,
	#top_nav ul li.active li a,
	#top_nav ul li:hover ul li a,
	#top_nav ul li.hover ul li a { /* This line is required for IE 6 and below */
		border:1px dotted #999;
	}	
}

@media screen and (max-width:403px) {
	
	#matr_logo {
		width:80%;
	}
	
	#search {
		width:90%;
		margin-bottom:.5em;
	}
	
	#register_btn {
		width:80%;
	}
}