@charset "utf-8";
/* CSS Document */

	#header img, #left_nav img {
		width:100%;
	}
	
	#page {
		width:1000px;
		margin:auto;
	}
	
	body {
		background-color:#eaeaea;
		}
        
    #identity_search {
    	width:900px;
        }
		
	#matr_logo {
		width:350px;
		}
        
    #header {
    	padding-bottom:0;
     	}
		
	#add_this_tools {
		width:160px;
		}
        
    #main {
    	width:1000px;
        }
        
    #content {
    	width:690px;
        margin-left:30px;
        margin-bottom:40px;
        margin-right:10px;
        }
        
    #heading_bar {
        margin-left:.5em;
		float:left;
        }
        
    #content_text {
    	padding-top:5em;
        }
		
	#top_nav ul ul li a,
	#top_nav ul li.active li a,
	#top_nav ul li:hover ul li a,
	#top_nav ul li.hover ul li a { /* This line is required for IE 6 and below */
		border-bottom:1px solid #ddd; /* sub menu item horizontal lines */
	}
	
	#footer_nav {
		width:100%;
		margin:auto;
		margin-top:2em;
	}
